<div id="Box_form">
<%= form_for ([:admin, @reseller], :html => { :multipart => :true }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :cod_representante %><br />
    <%= f.text_field :cod_representante %>
</p>
  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :nome_fantasia %><br />
    <%= f.text_field :nome_fantasia %>
  </p>
  <p>
    <%= f.label :cnpj %><br />
    <%= f.text_field :cnpj %>
  </p>
  <p>
    <%= f.label :inscricao_estadual %><br />
    <%= f.text_field :inscricao_estadual %>
  </p>
  <p>
    <%= f.label :responsavel %><br />
    <%= f.text_field :responsavel %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :celular %><br />
    <%= f.text_field :celular %>
  </p>
  <p>
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </p>
  <p>
    <%= f.label :bairro %><br />
    <%= f.text_field :bairro %>
  </p>
  <p>
    <%= f.label :cidade %><br />
    <%= f.text_field :cidade %>
  </p>
  <p>
    <%= f.label :estado %><br />
    <%= f.text_field :estado %>
  </p>
  <p>
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </p>
  <p>
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </p>
  <p>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </p>
<p>
    <%= f.label :representant_id, "Associar ao representante:" %><br />
    <%= f.select :representant_id, @representants, :prompt => "Escolha o representante" %>
  </p>

  <p><%= f.submit "Salvar", :class => "Bt_enviar" %></p>
<% end %>
</div>