<% title "Resellers" %>
<h1>Módulo de Revendas</h1><br />
<p>Visualize abaixo a lista das revendas registrados no sistema.</p><br />

<table class="tablesorter">
	<thead>
  <tr>
    <th>Nome</th>
    <th>Cidade</th>
    <th>Estado</th>
    <th>Telefone</th>
    <th>Representante</th>
  </tr>
</thead> 
  <tbody>
  <% for reseller in @resellers %>
    <tr>
      <td><%=h reseller.nome %></td>
      <td><%=h reseller.cidade %></td>
      <td><%=h reseller.estado %></td>
      <td><%=h reseller.telefone %></td>
	  <td><%=h reseller.representant.nome if !reseller.representant_id.blank?  %></td>
      <td><%= link_to "Show", admin_reseller_path(reseller) %></td>
      <td><%= link_to "Edit", edit_admin_reseller_path(reseller) %></td>
      <td><%= link_to "Destroy", admin_reseller_path(reseller), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</tbody>
</table>

<p><%= link_to "New Reseller", new_admin_reseller_path %></p>
