<% title "Reseller" %>

<h2>Dados Cadastrais</h2>

<p>
  <strong>Nome:</strong>
  <%=h @reseller.nome %>
</p>
<p>
  <strong>Nome Fantasia:</strong>
  <%=h @reseller.nome_fantasia %>
</p>
<p>
  <strong>CNPJ:</strong>
  <%=h @reseller.cnpj %>
</p>
<p>
  <strong>Inscrição Estadual:</strong>
  <%=h @reseller.inscricao_estadual %>
</p>
<p>
  <strong>Responsável:</strong>
  <%=h @reseller.responsavel %>
</p>

<h2>Dados de Contato</h2>
<p>
  <strong>E-mail:</strong>
  <%=h @reseller.email %>
</p>
<p>
  <strong>Celular:</strong>
  <%=h @reseller.celular %>
</p>
<p>
  <strong>Endereco:</strong>
  <%=h @reseller.endereco %>
</p>
<p>
  <strong>Bairro:</strong>
  <%=h @reseller.bairro %>
</p>
<p>
  <strong>Cidade:</strong>
  <%=h @reseller.cidade %>
</p>
<p>
  <strong>Estado:</strong>
  <%=h @reseller.estado %>
</p>
<p>
  <strong>Telefone:</strong>
  <%=h @reseller.telefone %>
</p>
<p>
  <strong>Fax:</strong>
  <%=h @reseller.fax %>
</p>

<p>
<h2>Grupos de Desconto</h2>
  <%@discounts.each do |d|%>
  	<%=d.category.cod_sistema%> - <%=d.category.nome%>  = <%=d.discount%> + <%=d.discount2%> + <%=d.discount3%> + <%=d.discount4%> + <%=d.discount5%> + <%=d.discount6%> + <%=d.discount7%> 
  <%end%>
</p>
<br/><br/>
<p>
  <%= link_to "Edit", edit_admin_reseller_path(@reseller) %> |
  <%= link_to "Destroy", admin_reseller_path(@reseller), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_resellers_path %>
</p>
