<div id="Box_form">
<%= form_for ([:admin, @download], :html => { :multipart => :true }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :Nome %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :Descrição %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :Arquivo %><br />
    <%= f.file_field :file %>
  </p>
  <p>
    <%= f.label :Publicado? %><br />
    <%= f.check_box :published, :class => "input_radio" %>
  </p>
  <p><%= f.submit "Salvar", :class => "Bt_enviar" %></p>
<% end %>
</div>