<% title "Downloads" %>
<h1>Módulo de Downloads</h1><br />
<p>Visualize abaixo a lista dos downloads registrados no sistema.</p><br />

<table class="tablesorter">
  <thead>
  <tr>
    <th>Título</th>
    <th>Descrição</th>
    <th>Total de downloads</th>
  </tr>
  </thead> 
  <tbody>
  <% for download in @downloads %>
    <tr>
      <td><%=h download.name %></td>
      <td><%=h download.description %></td>
      <td><%=h download.total_downloads %></td>
      <td><%= link_to "Show", admin_download_path(download) %></td>
      <td><%= link_to "Edit", edit_admin_download_path(download) %></td>
      <td><%= link_to "Destroy", admin_download_path(download), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to "Novo Download", new_admin_download_path %></p>
