<% title "Download" %>
<h1>Visualizar Download</h1><br />
<p></p><br />

<p>
  <strong>Title:</strong>
  <%=h @download.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @download.description %>
</p>
<p>
  <strong>Total Downloads:</strong>
  <%=h @download.total_downloads %>
</p>

<p>
  <%= link_to "Edit", edit_admin_download_path(@download) %> |
  <%= link_to "Destroy", admin_download_path(@download), :confirm => 'Tem certeza?', :method => :delete %> |
  <%= link_to "View All", admin_downloads_path %>
</p>
