<div id="Box_center">
	<div id="Titulo_tabpedido">
        <h1><img src="/images/tit_pedidos.png" width="20" height="20" style="margin:0 10px 0 0; float:left;" />Pedidos</h1>
        <%=link_to image_tag("btn_fazerpedido.png", :style => "float:right;"), representante_pedidos_path%>
		<!--<a href="" style=""><img src="/images/btn_fazerpedido.png"></a> -->
    </div>
  <div id="Tabela_pedido">
    <div id="Info_tabela">
	<div id="Campo_info1">
		<h1>Realizado em:</h1>
	</div>
	<div id="Campo_info2">
		<h1>Status:</h1>
	</div>
	<div id="Campo_info3">
		<h1>Revenda:</h1>
	</div>
  </div>
            <table width="918" style="border-collapse:collapse; border:none; margin:0 0 0 11px; margin:auto;">
            	<%
				@pedidos.each do |p|
				@revenda = Reseller.find(p.reseller_id)
				%>
				<tr style="border:#F2F2F2 solid 1px; border-left:#CCC solid 1px;">
	                <td width="161"><%=p.created_at.to_date.strftime("%d/%m/%Y")%> <%=p.created_at.to_time.strftime("%H:%M:%S")%></td>
	                <td width="144"><%=p.status%></td>
	                <td width="513"><%=@revenda.nome%></td>
	                <td width="80">[+] DETALHES</td>
	              </tr>
				<%end%>  
            </table>
    		<a href=""><img src="/images/btn_vejamais.png" align="right" style="margin:20px 25px 0 0;"></a>
  </div>
<div id="Promocoes">
	<h1><img src="/images/tit_promocoes.png" width="20" height="20" style="margin:0 10px 0 0; float:left;" />Promoções</h1>
	<%=image_tag(@offer.image.url("thumb"), :style => "display:block;float:left;")%>
</div>

<div id="Noticias">
 <h1><img src="/images/tit_noticias.png" width="14" height="19" style="margin:0 10px 0 0; float:left;"/>Notícias</h1>
        <ul>
         	<%@noticias.each do |n|%>
				 <li><%=n.created_at.to_date.strftime("%d/%m/%Y")%> - <%=link_to n.summary, noticia_path(n)%></li>
            <%end%>
		</ul>
        <a href="/noticias"><img src="/images/btn_vejamais.png" align="right" style=" margin:22px 0 0 0;"></a>
 </div>
</div>