<%content_for :head do%>
	<%=stylesheet_link_tag "product_requests_extend"%>

<script>
$(document).ready(function() {
   $('.Table_pedido_ext tr:odd').addClass('zebraUm');
   $('.Table_pedido_ext tr:even').addClass('zebraDois');
});

</script>
<%end%>

<div id="Box_Center">
	<h1><img src="/images/tit_pedidos.png" width="20" height="20" style="margin:0 10px 0 0; " /> Lista de Pedidos</h1>
	<div class="Tabela_pedido_ext_bg_top">
	
	<div id="Tabela_pedido_ext">
			
		 <table width="918" class="Table_pedido_title_ext">
			<tr >
				<td width="156">Realizado em:</td>
				<td width="142">Status:</td>
				<td width="490">Revenda:</td>
				<td width="130"></td>
			 </tr>			 
		</table>
		<table width="918" class="Table_pedido_ext">
			<%
			@pedidos.each do |p|
			%>
			<tr>
				<td width="161"><%=p.created_at.to_date.strftime("%d/%m/%Y")%> <%=p.created_at.to_time.strftime("%H:%M:%S")%></td>
				<td width="144"><%=p.status%></td>
				<td width="460"><%=p.reseller.nome%></td>
				<td width="133" class="Font_detalhes"><%=link_to "[+] DETALHES", representante_product_request_path(p)%></td>
			  </tr>
			<%end%>		
			  </table>	
	</div> 
	<div class="clear"></div>
	</div>	
	
</div>

 