<%content_for :head do%>
	<%=stylesheet_link_tag "pedidos_representante"%>
	<%= javascript_include_tag "jquery/jquery" %>
	<%= javascript_include_tag "jquery/jquery.tools.min.js" %>
<%end%>

<div id="Pedidosbox">
	<div class="Titulo"><%=image_tag "representante/tit_passo1.png"%></div>
	<div style="clear:both;"></div>
	<div id="BoxRevenda">
	<%form_for new_representante_pedido_path do |f|%>
		<%=image_tag "representante/selecione_revenda.png", :style => "margin-bottom:90px;"%>
		<div class="bgEscolha">
			<br>
			<%=select("revenda", "reseller_id", @representante.resellers.all(:order=>"nome").collect {|p| [ p.nome, p.id ] })%>
			
		</div>
	</div>
	
	<div id="BoxTransportadora">
		<%=image_tag "representante/selecione_transportadora.png", :style => "margin-bottom:90px;"%>
		<div class="bgEscolha">
			<br>
			<%=select("transportadora", "transporter_id", Transporter.all(:order=>"nome").collect {|p| [ p.nome, p.id ] })%>
		</div>
	</div>
	
	<div style="clear:both;"></div>
	<div>
		<hr color="#CCCCCC" size="1" width="100%" style="margin:20px 0px 20px 0px;">
		<p style="text-align:right;"><%=image_submit_tag "representante/bt_avancar.png", :style => "float:right;"%></p>
	</div>
	<%end%>
	<div class="clear"></div>
</div>
