<%content_for :head do%>
	<%=stylesheet_link_tag "passo3"%>
	<%= javascript_include_tag "jquery/jquery" %>
	<%= javascript_include_tag "jquery/jquery.tools.min.js" %>
<%end%>

<div id="Box_passo3">
<img src="/images/img_fazerpedidopasso3.png" style="text-align:center; margin:20px 0 20px 0;"/>
<p style="text-align:center;  margin:20px 0 30px 0;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.<p>
	<div id="Form_passo3">
         <%form_tag passo4_representante_pedido_path do |f|%>
            <table  style="text-align:right;">
            <tr>
            <th colspan="2"></th>
            </tr>
            <tr>
            <td style="vertical-align:top;"><h2>Tipo de Frete :</h2></td>
            <td width="465">
				<%=select_tag :tipo_frete,options_for_select([["Sim","Sim"],["Não","Não"]])%>
			</td>
            </tr>
            <tr>
            <td width="129" height="98" style="vertical-align:top;"><h2>Informações Adicionais:</h2></td>
            <td width="465" align="left"><%=text_area_tag :informacoes_adicionais,nil, :class => "Input1"%></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
            <td style="vertical-align:top;"><h2>Fatura para Cliente:</h2></td>
            <td align="left"><%=text_area_tag :fatura_para_cliente,nil, :class => "Input1"%></td>
            </tr>        
			</table>
         
          <h1 style="text-align:left;width:750px;margin:0 0px 0 0px">Endereço para Cobrança:<img src="/images/img_linha_passo3.png" align="rigth" style="margin:0px 0px 0 10px;"></h1>
          <br>
            <table  style="text-align:right;">
            <tr>
            <th colspan="2">&nbsp;</th>
            </tr>
            <tr>
            <td width="170" height="28" style="vertical-align:top;"><h2>Rua/Número:</h2></td>
            <td width="148"><%=text_area_tag :endereco,nil, :class => "Input2"%></td>
            <td width="145" height="28" style="vertical-align:top;"><h2>Bairro:</h2></td>
            <td width="148"><%=text_area_tag :bairro,nil, :class => "Input2"%></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
            <td style="vertical-align:top;"><h2>Cidade:</h2></td>
            <td><%=text_area_tag :cidade,nil, :class => "Input2"%></td>
            <td style="vertical-align:top;"><h2>UF:</h2></td>
            <td><%=text_area_tag :uf, nil, :class => "Input2"%></td>
            </tr>        
			</table>
          
          <h1 style="margin:40px 0 0 10px;">Local de entrega:<img src="/images/img_linha_passo3.png" align="rigth" style="margin:0px 30px 0 10px;"></h1>
          <br>
            <table  style="text-align:right;">
            <tr>
            <th colspan="2">&nbsp;</th>
            </tr>
            <tr>
            <td width="170" height="28" style="vertical-align:top;"><h2>Rua/Número:</h2></td>
            <td width="148"><%=text_area_tag :entrega_rua_numero,nil, :class => "Input2"%></td>
            <td width="145" height="28" style="vertical-align:top;"><h2>Bairro:</h2></td>
            <td width="148"><%=text_area_tag :entrega_bairro,nil, :class => "Input2"%></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
            <td style="vertical-align:top;"><h2>Cidade:</h2></td>
            <td><%=text_area_tag :entrega_cidade,nil, :class => "Input2"%></td>
            <td style="vertical-align:top;"><h2>UF:</h2></td>
            <td><%=text_area_tag :entrega_uf,nil, :class => "Input2"%></td>
            </tr>        
			</table>
			
			<div class="clear"></div>
        </div>
		<div class="clear"></div>
       	<br><br><br><br><br><br>
        <%=image_submit_tag "btn_avancar.png", :style => "margin:10px auto; float:right;"%>
	<%end%>
   </div>
   <div class="clear"></div>