<%content_for :head do%>
		<%=stylesheet_link_tag "user_data"%>
<%end%>
<div class="clear"></div>
<div id="Fotobox"><h1><img src="/images/tit_nomerevendedor.png"/><%=@representante.nome%> | <%=link_to "Editar Perfil", edit_representante_representant_path(@representante)%></h1>
    <%#=image_tag(@reseller.image.url("c_medio"), :style => "margin:10px auto 0 auto; float:left;")%>
	<img src="/images/img_perfilfoto.png" width="222" height="222" style="margin:10px auto 0 auto; float:left;" /> 
	   			
</div>       
    <div id="Dadosbox">
	<a href="javascript:history.go(-1);"><img src="/images/btn_voltarbxperfil.png" width="43" height="11" class="bt_voltar_align"/></a>
	<%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <%- end -%>
	
	<div class="Line_details_pr_1"></div>
        <div class="clear"></div>
         <ul>
			<li><label>COD. Sistema:</label><span><%=@representante.cod_sistema%></span></li>
            <li><label>Telefone:</label><span><%=@representante.telefone%></span></li>
            <li><label>Celular:</label><span><%=@representante.celular%></span></li>
            <li><label>Email:</label><span><%=@representante.email%></span></li>
        </ul>
		<div class="Line_details_pr"></div>		  
   </div>
   <div class="clear"></div>