<div id="Box_form">
<%= form_for ([:admin, @representant], :html => { :multipart => :true }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </p>
  <p>
    <%= f.label :celular %><br />
    <%= f.text_field :celular %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
<p>
    <%= f.label :user_id, "Associar ao usuário:" %><br />
    <%= f.select :user_id, @users, :prompt => "Escolha o usuário" %>
  </p>

  <p><%= f.submit "Salvar", :class => "Bt_enviar" %></p>
<% end %>
</div>