<% title "Representant" %>
<h1>Representante</h1><br />
<p></p><br />

<p>
  <strong>Nome:</strong>
  <%=h @representant.nome %>
</p>
<p>
  <strong>Telefone:</strong>
  <%=h @representant.telefone %>
</p>
<p>
  <strong>Celular:</strong>
  <%=h @representant.celular %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @representant.email %>
</p>

<p>
  <%= link_to "Edit", edit_admin_representant_path(@representant) %> |
  <%= link_to "Destroy", admin_representant_path(@representant), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_representants_path %>
</p>
