<%= form_for ([:admin, @poll, @poll_question]) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </p>
  <p>
    <%= f.label :published %><br />
    <%= f.check_box :published %>
  </p>
  <p><%= f.submit %></p>
<% end %>
