<%content_for :head do%>
	<%=stylesheet_link_tag "perfildorevendedor"%>
<%end%>
<div id="Fotobox"><img src="/images/tit_nomerevendedor.png"/><h1>Nome do Revendedor</h1>
    <%=image_tag(@reseller.image.url("c_medio"), :style => "margin:10px auto 0 auto; float:left;")%>
	<!-- <img src="/images/img_perfilfoto.png" width="222" height="222" style="margin:10px auto 0 auto; float:left;" /> --> 
	   			
</div>       
    <div id="Dadosbox"><a href="javascript:history.go(-1);"><img src="/images/btn_voltarbxperfil.png" width="43" height="11" style="float:right;margin:10px 0 0 0;" /></a>
          <ul>
            <li><p>Cliente desde:</p>1999</li>
            <li><p>Razão Social:</p><%=@reseller.nome%></li>
            <li><p>Nome Fantasia:</p><%=@reseller.nome_fantasia%></li>
            <li><p>CNPJ/CNPF:</p><%=@reseller.cnpj%> <p>Incr.Est./RG:</p><%=@reseller.inscricao_estadual%></li>
          </ul>
		<img src="images/img_linha.png" width="699" height="2" style="margin:0 auto 0 auto;" />	
         <ul>
            <li><p>Endereço:</p><%=@reseller.endereco%><p>Bairro:</p><%=@reseller.bairro%></li>
            <li><p>Cidade:</p><%=@reseller.cidade%><p>UF:</p><%=@reseller.estado%><p>CEP:</p>04202-020</li>
            
         </ul>
        <img src="images/img_linha.png" width="699" height="2" style="margin:0 auto 0 auto;" />	
         <ul>
            <li><p>Responsável:</p>nome completo<p>telefone:</p><%=@reseller.telefone%><p>Fax:</p><%=@reseller.fax%></li>
         </ul>
        <img src="images/img_linha.png" width="699" height="2" style="margin:0 auto 0 auto;" />
        <ul>
            <li><p>Email:</p><%=@reseller.email%><p>Celular:</p><%=@reseller.celular%><p>Fax:</p><%=@reseller.fax%></li>
        </ul> 
        <img src="images/img_linha.png" width="699" height="2" style="margin:0 auto 0 auto;" />
         <ul>
            <li><p>Representante Responsável::</p>nome completo</li>
            <li><p>Telefone:</p>PISCINAS IPIRANGA COM. DE PRODUTOS E EQUIP. LTDA ME</li>
            <li><p>Celular:</p>PISCINAS IPIRANGA</li>
            <li><p>Email:</p>email@email.com</li>
          </ul>	
   </div>