<%content_for :head do%>
	<%=stylesheet_link_tag "login"%>
<%end%>
<div style="clear:both;"></div>
<div style="text-align:center;">
<div id="BoxLogin" style="clear:both;">
	<h1><%=image_tag "tit_login.png"%></h1>
	
	<p style="margin-bottom:20px;">
		Seja bem vindo ao sistema Amigo da Revenda, Para continuar, você precisa fazer o login com o usuário e senha fornecidos pela Nautilus. Caso não o possua, entre em contato com nosso suporte.
	</p>
	
	<%= form_for @user_session do |f| %>
	  <%= f.error_messages %>
	  
	<div id="bgLogin">
	<span >
	    <%= f.label :usuário %>
	    <%= f.text_field :username %>
	</span>
	<div class="clear"></div>
	<br />
	<span class="inpt_pass">
	    <%= f.label :senha %>
	    <%= f.password_field :password %>
	</span>
	</div>
	<p class="Bt_entrar_login"><%= image_submit_tag "btn_entrar_login.png" %></p>
	<% end %>
	<div class="clear"></div>
	<br />
</div>
</div>



