<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Amigo da Revenda <%=yield :title%></title>
<%=stylesheet_link_tag "estilo"%>
<%=yield :head%>
</head>
<body>
<div id="Footer_geral">
<div id="Geral">
  <div id="Header">
    	<div id="Barralog">
            <a href="http://www.nautilus.ind.br" style="float:left; margin:5px 0 0 28px">Voltar para site Nautilus</a>
            <p style="float:right; margin:5px 35px 0 0px;"><%=data_atual_extenso%>  |  <%=hora_atual_resumida%>  
			<% if current_user %>
			 | <span class="Tx_logout"><%=link_to "Logout", session_path(1), :method => :delete%></span>
			<%end%>
			</p>
        </div>
<% if current_user %>      
	<div id="Infouser">
		<div id="Boxuser">
			<p style=" text-align:right; margin:5px 0px 5px 5px; font-size:large;">
				<% 
				if current_user.has_role? :representante 
				@representante = current_user.representants.first
				%>
				<%=@representante.nome%>
				<%end%>
			</p>
			<p style="float:right;">
				<img src="/images/img_boxinfouser.png" width="20" height="14" style="margin:auto 15px" /><span class="Boxuser_align_text1"><%=link_to "Visualizar Dados", representante_representant_path(@representante)%></span>
				<img src="/images/img_boxinfouser2.png" width="18" height="18" style="margin:auto 15px" /><span class="Boxuser_align_text1"> Configurações</span>
			</p>
	  </div>
	  <img src="/images/img_user.png" width="109" height="109" style="float:right; margin:15px 0px 0 0;" />
	</div>
	<%end%>
<!-- <<<<<<< HEAD
      <div id="Busca"><input type="text" value="Busca" border="none"  /></div>
        
	  <%#=render :file => "/layouts/_menu.html.erb"%>
      <div id="Logo"></div>
======= -->
      <div id="Busca"><input type="text" name="busca" value="Busca" border="none" onfocus="if(this.value=='Busca'){this.value=''};" onblur="if(this.value==''){this.value='Busca'};" /></div>
      <%=render :file => "/layouts/_menu.html.erb"%>
      <a href="/home"><div id="Logo" ></div></a>


  </div>
	<div class="clear"></div>
	<div id="Center">
		<div class="clear"></div>
    	<%=yield%>
		<div class="clear"></div>		
    </div>
</div>
<div class="clear"></div>
	<div id="Footer">
        <div id="Conteudo">
            <div id="Menu"><p><a href="#">Home</a> <a>|</a> <a href="#">Site da Nautilus</a><a>|</a><a href="#">Sobre Amigos da Revenda</a><a>|</a><a href="#">Politica de Privacidade</a><a>|</a><a href="#">Termos de Uso</a><a>|</a><a href="#">Ajuda</a></p>
            </div>
			<div id="logo_bot"><a href="http://www.korewa.com.br/"><img src="/images/logo_korewa.png" style="float:left; "></a><a href="http://www.nautilus.ind.br/"><img src="/images/logo_nautilus.png" style="float:right;"></a></div>
        </div>
    </div>
</div>
</body>
</html>
